body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.priceBox {
  background-color: aquamarine;
  color: black;
  font-weight: bolder;
  font-size: large;
  display: flex;
  justify-content: space-between;
  max-width: 25%;
  margin: 2vh auto;
  padding: 1rem;
  border-radius: 15px;
  object-fit: cover;
}
@media (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  .priceBox {
    max-width: 60%;
    font-size: medium;
  }
}

@media (max-width: 480px) {
  /* Adjust the styles for even smaller screens */
  .priceBox {
    max-width: 80%;
    font-size: small;
  }
}
